body {
    background-color: whitesmoke;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

#app {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 50px;
}
