@import '~@marketgoo/ola/dist/index.css';
@import '~react-toastify/dist/ReactToastify.css';

.Toastify__toast--info {
  background: var(--brand);
}
.Toastify__toast--success {
  background: var(--success);
}
.Toastify__toast--warning {
  background: var(--warning);
}
.Toastify__toast--error {
  background: var(--error);
}

fieldset {
  border: 0;
}

#app {
  background-color: white;
  margin: auto;
  padding: 50px;
}
