@import '~@marketgoo/ola/dist/index.css';
@import '~react-toastify/dist/ReactToastify.css';

body {
  background-color: coral;
}

fieldset {
  border: 0;
}

#app {
  background-color: white;
  width: 800px;
  margin: auto;
  padding: 50px;
}
